# editor stuff:
*.swp
*.vscode

# ignore build and lib dirs (including tutorial projects)
build

# ignore Mac-specific file stuff:
.DS_Store

# ignore Cmake stuff:
**/CMakeFiles
**/Makefile
**/CMakeLists.txt
CMakeCache.txt
*.cmake
